.header {
    background-color: #202020;
    min-height: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    border-bottom: 1px solid slategray;
}
.title {
    position: absolute;
    align-items: center;
    left: 30px;
    font-size: 2rem;
    color: whitesmoke;
}
.menuButton {
    position: absolute;
    right: 25px;
    color: white;
    align-items: center;
    margin-right: 1.5rem;
}
.setting {
    position: absolute;
    z-index: 50;
    background-color: #2f2f2f;
    border-radius: 1%;
    width: 310px;
    height: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
