.header {
    background-color: #202020;
    height: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid slategray;
}
.title {
    position: absolute;
    align-items: center;
    left: 30px;
    z-index: 1200;
    font-size: 2rem;
    color: whitesmoke;
}
.menuButton {
    position: absolute;
    right: 25px;
    color: white;
    align-items: center;
    margin-right: 1.5rem;
}
