.main {
  max-height: 100vh;
  display: flex;
  flex-direction: column;
}
.container {
  display: flex;
  flex-direction: row;
}
.sidebar {
  min-width: 15rem;
  background-color: #202020;
  height: calc(100vh - 5rem);
  border-right: 1px solid slategray;
}
.nfContainer {
  overflow: auto
}
