@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code&display=swap');
.nationalFocus {
    max-width: 96px;
    position: absolute;
    display: flex;
    flex-direction: column;
}
.nationalFocusName {
    color: white;
    z-index: 7;
    text-align: center;
    font-family: 'M PLUS 1 Code', sans-serif;
    font-size: 0.8rem;
    text-overflow: ellipsis;
    padding: 0 1.1rem;
    margin-top: -1.4rem;
}
.nationalFocusEditMenu {
    position: relative;
    display: flex;
    background-color: #2f2f2f;
    top: 0;
    width: 400px;
    height: 100%;
    z-index: 20;
    flex-direction: column;
    padding: 1.5rem 0;
}
