.nfContainer {
    height: calc(100vh - 5rem);
    width: 100%;
    position: relative;
}
.nfContainerBg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: fill;
    z-index: 2;
}
.nfContainerFocusBg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: fill;
    z-index: 4;
}
.nfContainerAddMenuBg {
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    background: rgba(51, 51, 51, 0.6);
    z-index: 30;
    width: 100%;
    height: 100%;
}
.nfContainerAddMenu {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 80%;
    margin: 0 auto;
    background: #202020;
    max-width: 580px;
    max-height: 720px;
    padding: 1rem 2rem
}
.nfContainerAddMenuTextField {
    display: flex;
}
.nfContainerAddMenuInput {
    margin-bottom: 1.5rem;
}
